{% extends 'main.html' %}

{% block content %}

<div>
  <div class="body-img">

    <img src="/static/images/canvas.png" class="img-fluid">
  </div>
  <div class="welcome-title">
    <h1>Welcome to UNO!!!</h1>
    <p>The best way to play UNO online...</p>
  </div>

  <br>
  <br>
  <div class="play-btn">
    <a href="{% url 'home' %}">Play Now!</a>
  </div>
</div>
<div class="flex-container">
  <div class="image-uno-container" style="flex:2;">
    <div class"image-uno">
    </div>
  </div>
  <div id="about" class="blockquote text-center about-info">
    <h2>About UNO</h2>
    <p>
      UNO is the classic card game that’s easy to pick up and impossible to put down! Players take turns matching a card
      in their hand with the current card shown on top of the deck either by color or number. Special action cards
      deliver
      game-changing moments as they help you defeat your opponents. These include Skips, Reverses, Draw Twos, Wild and
      Draw Four Wild cards. You’ll find 25 of each color (red, green, blue, and yellow) and eight Wild cards inside the
      108-card deck. If you can’t make a match, you must draw from the central pile! And when you’re down to one card,
      don’t forget to shout “UNO!” The first player to rid themselves of all the cards in their hand before their
      opponents wins. It’s Fast Fun for Everyone!
    </p>
  </div>
</div>

{% endblock %}
