{% extends 'main.html' %}


{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: -150px;">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="background: #000; opacity: .9; color: #fff;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="{{user.avatar.url}}" class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <h4 class="mb-2" style="text-transform: uppercase;">{{user.username}}</h4>
            {% if user.bio %}
            <p class="text-muted mb-4">{{user.bio}}<span class="mx-2">
                {% else %}
                <p class="text-muted mb-4">This user don't have a about info, but we know <b>{{user.username}}</b> is
                  great!<span class="mx-2">
                    {% endif %}
                    <div class="mb-4 pb-2">
                      {% if request.user == user %}
                      <a href="{% url 'update-user' %}">
                        <button type="button" class="btn btn-primary btn-rounded btn-lg">
                          Update user
                        </button>
                      </a>
                      {% endif %}
                      <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div>
                          <p class="mb-2 h5">{{user.wons}}</p>
                          <p class="text-muted mb-0">Wins</p>
                        </div>
                        <div class="px-3">
                          <p class="mb-2 h5">{{user.league}}</p>
                          <p class="text-muted mb-0">League</p>
                        </div>
                        <div>
                          <p class="mb-2 h5">{{user.xp}}</p>
                          <p class="text-muted mb-0">Experience</p>
                        </div>
                      </div>
                    </div>
          </div>

        </div>
      </div>
    </div>
</section>
{% endblock%}
