* {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    top: 100px;
    background: url(/static/images/index.png) no-repeat center top;
    height: 100vh;
}

.navbar {
    display: flex;
    background: transparent;
    text-align: center;
    line-height: 5px;
    font-size: 17px;
    position: relative;
    height: 75px;
}

.navbar-brand{
    display: flex;
    position: relative;
    text-align: center;
    line-height: 10px;
    font-size: 400;
    font-family: 'Sora', sans-serif;
}

.body-img{
    top: 50px;
    position: absolute;
    left: 50%;
    width: 100%;
    height: auto;
    transform-origin: center center;
    min-width: 1200px;
    max-width: 1920px;
    
    transform: translateX(-52%);
}


.welcome-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 570px;
    background: #0b6e81;
    width: 660px;
    border-radius: 15px;
    border: 3px solid #0d4e4a;
    color: #ffffff;
}

.welcome-title h1{
    font-size: 50px;
}

.welcome-title p{
    font-size: 20px;
}

.play-btn{
    position: relative;
    text-align: center;
   line-height: 20px;
   margin-left: auto;
   margin-right: auto;
   color: #fff;
   font-size: 30px;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   background: #f74f31;
   display: flex;
   width: 350px;
   height: 70px;
   border-radius: 15px;
    box-shadow: 0px 4px 0px #0d4e4a;
    transition: .3s ease;
}

.play-btn:hover{
    transform: scaleX(1.1);
}


.play-btn a{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.about-intro{
    background-color: #000;
    opacity: .699;
    color: #fff;
    padding: 35px;
    margin: auto;
    margin-top: 40px;
    width: 1200px;
    animation-name: abouts;
    animation-duration: .5s;

}

.about-intro h1{
    text-align: center;
    text-transform: uppercase;
}

.setup{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    margin-top: 40px;
    

}

.setup-cards{
    color: #fff;
    background-color: #000;
    opacity: .699;
    padding: 35px;
    text-align: justify;
    animation-name: abouts;
    animation-duration: .5s;

}

.setup h2{
    text-transform: uppercase;
    text-align: center;
}

.cards{
    margin-top: 20px;
    color: #fff;
    background-color: #000;
    opacity: .699;
    padding: 35px;
    padding-bottom: 0px;
    animation-name: abouts;
    animation-duration: .5s;
    text-align: center;
}

.form-box {
    padding: 20px;
    margin-top: -15px;
    background-color: #000;
    opacity: .9;
    color: #fff;
}

.signed{
    display: flex;
    align-items: flex-end;

}

.signed-a{
    margin-left: 40px;
    margin-bottom: 15px;
}

.form-register input {
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

.card {
    padding: 20px;
    margin-top: -25px;

}
@keyframes abouts {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }

}

@media only screen and (max-width: 1000px){
    .nav-item{
        padding: 20px;
        position: relative;
    }
    
}


