
/* All page settings */
* {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    top: 100px;
    height: 100vh;
}

/* Navbar's styles */

.navbar {
    display: flex;
    background: transparent;
    text-align: center;
    line-height: 5px;
    font-size: 17px;
    position: relative;
    height: 75px;
}

.navbar-brand{
    display: flex;
    position: relative;
    text-align: center;
    line-height: 10px;
    font-size: 400;
    font-family: 'Sora', sans-serif;
}


/* Main page styles */

.body-img{
    top: 50px;
    position: absolute;
    left: 50%;
    width: 100%;
    height: auto;
    transform-origin: center center;
    min-width: 1200px;
    max-width: 1920px;
    
    transform: translateX(-52%);
}


.welcome-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 570px;
    background: #0b6e81;
    width: 660px;
    border-radius: 15px;
    border: 3px solid #0d4e4a;
    color: #ffffff;
}

.welcome-title h1{
    font-size: 50px;
}

.welcome-title p{
    font-size: 20px;
}

.play-btn{
    position: relative;
    text-align: center;
   line-height: 20px;
   margin-left: auto;
   margin-right: auto;
   color: #fff;
   font-size: 30px;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   background: #f74f31;
   display: flex;
   width: 350px;
   height: 70px;
   border-radius: 15px;
    box-shadow: 0px 4px 0px #0d4e4a;
    transition: .3s ease;
}

.play-btn:hover{
    transform: scaleX(1.1);
}


.play-btn a{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* About page styles */

.about-intro{
    background-color: #000;
    opacity: .699;
    color: #fff;
    padding: 35px;
    margin: auto;
    margin-top: 40px;
    width: 1200px;
    animation-name: abouts;
    animation-duration: .5s;

}

.about-intro h1{
    text-align: center;
    text-transform: uppercase;
}

.setup{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    margin-top: 40px;
    

}

.setup-cards{
    color: #fff;
    background-color: #000;
    opacity: .699;
    padding: 35px;
    text-align: justify;
    animation-name: abouts;
    animation-duration: .5s;

}

.setup h2{
    text-transform: uppercase;
    text-align: center;
}

.cards{
    margin-top: 20px;
    color: #fff;
    background-color: #000;
    opacity: .699;
    padding: 35px;
    padding-bottom: 0px;
    animation-name: abouts;
    animation-duration: .5s;
    text-align: center;
}


/* Login/Regsiter page styles */

.form-box {
    padding: 20px;
    margin-top: -15px;
    background-color: #000;
    opacity: .9;
    color: #fff;
}

.signed{
    display: flex;
    align-items: flex-end;

}

.signed-a{
    margin-left: 40px;
    margin-bottom: 15px;
}

.form-register input {
    border-radius: 5px;
    width: 300px;
    height: 40px;
}



/* Cards/Game page styles */

.card {
    padding: 20px;
    margin-top: -25px;

}

.title-game {
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
    color: #000;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

.card-container{
    display: flex;
    justify-content: center;
    height: 492px;
    width: 317px;
    position: relative;
    transform: rotate(6deg);
    transition: transform .5s ease,margin .3s ease;
    margin-right: -90px;
    margin-top: 120px;
    cursor: pointer;
}
.text {
    opacity: 0;
    transition: opacity .2s ease;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    top: -68px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}
.card-select {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 33px;
    border: 20px solid #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease,margin .3s ease;
}

.options {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container-cards {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-container:hover .text{
    opacity: 1;
}

.card-container:hover{
    margin: 0px;
}

.model-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.3);
    transform: scale(0);
}

.model-container .model{
    max-height: 500px;
    width: 840px;
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close-button {
    width: 35px;
    height: 35px;
    background: #333;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    top: 15px; left: 15px;
}

.close-button:hover{
    opacity: .8;
}


/* Animations and responsive stuff */

@keyframes abouts {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }

}

@media only screen and (max-width: 1000px){
    .nav-item{
        padding: 20px;
        position: relative;
    }
    
}
