* {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
}

body {
    position: relative;
    scroll-behavior: smooth;
    background-image: url(/images/index.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3490px;
}

.navbar {
    display: flex;
    background: transparent;
    text-align: center;
    line-height: 5px;
    font-size: 17px;
    position: relative;
    height: 75px;
}

.navbar-brand{
    display: flex;
    position: relative;
    text-align: center;
    line-height: 10px;
    font-size: 400;
    font-family: 'Sora', sans-serif;
}

.body-img{
    position: absolute;
    top: 52px;
    left: -40px;
    width: 100%;
    height: auto;
    min-width: 1000px;
    
    animation-name: scale-image;
    animation-duration: .5s;
    animation-delay: .1s;
}

@keyframes scale-image{
    
    0%{
        transform: scale(0, 0);
    }

    100%{
        opacity: 1;
        transform: scale(1, 1);
    }

}


.welcome-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 570px;
    background: #0b6e81;
    width: 660px;
    border-radius: 20px;
    z-index: 99;
    border: 3px solid #0d4e4a;
    color: #ffffff;
}

.welcome-title h1{
    font-size: 50px;
}

.welcome-title p{
    font-size: 20px;
}

.play-btn{
    position: relative;
    text-align: center;
   line-height: 20px;
   margin-left: auto;
   margin-right: auto;
   color: #fff;
   font-size: 30px;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   background: #f74f31;
   display: flex;
   width: 350px;
   height: 70px;
   border-radius: 30px;
    box-shadow: 0px 4px 0px #0d4e4a;
    transition: .3s ease;
}

.play-btn:hover{
    transform: scaleX(1.1);
}


.play-btn a{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.flex-container{
    display: flex;
    padding: 20px;
    height: 700px;
}
.about-info{
    align-self: flex-end;
    flex: 2;
    background-color: #fff;
    opacity: .5;
    border-radius: 10px;
    width: 800px;
    min-width: 600px;
    margin-left: 47px;
    padding: 5px;
}

@media only screen and (max-width: 1000px){
    .nav-item{
        padding: 20px;
        position: relative;
    }
    
}

