<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% include 'styles.html'%}
  {% include 'scripts.html' %}
  <title>UNO! GameOnline</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background: radial-gradient(circle,#c0221a 0,#921913 60%,#6d100b 100%);">
  <div>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}



    {% block content%}

    {% endblock %}
  </div>

</body>

</html>
