{% extends 'main-game.html' %}

{% block content %}
<h2 class="title-room" style="text-align: center; font-size: 60px;">Room</h2>
<button id="button-start" class="button btn btn-secondary btn-lg" style="position: absolute; left: 50%; transform: translateX(-50%);">Start Game</button>
<div style="width: 360px; height: 1000px, marging-left: 20px;">
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Players</th>
    </tr>
  </thead>
  <tbody id="my_table">
    <tr>
      <td class="bg-primary">Regalk</td>
    </tr>
  </tbody>
</table>

</div>
<p id="app"></p>

<div id="card-container" style="width: 165px; height: 255px;"></div>


<script>
  let loc = window.location;
  let wstart = 'ws://'
  if (loc.protocol === 'https:') {
    wstart = "wss://"
  }
  let endpoint = wstart + loc.host + loc.pathname
  let socket = new WebSocket(endpoint);
  let me = "{{user.username}}"
  let gameRoomAdmin = "{{game_room.admin.username}}"


  const open_socket = new Promise(resolve => {
    socket.addEventListener("open", (e) => {
      resolve({"open_socket_state": socket.readyState});
    });
  });

  Promise.all([open_socket]).then(result => {
    console.log("open");
    let data = {
      "status": "user_new",
      "message": "New user entered the room.",
      "data": {
        "new_user_username": "{{ user.username }}",
        "unique_peer_id": result[0].unique_peer_id,
        "game_room_unique_id": "{{ game_room.unique_game_id }}"
      }
    };
    let response = {"type": "user.new", "text": data};
    socket.send(JSON.stringify(response));

  });


  app = document.getElementById('my_table');

  socket.onmessage = function (event) {
    var data = JSON.parse(event.data);
    console.log(data);
    var admin = JSON.parse(data['gameData'])['adminUsername'];
    var array_players = JSON.parse(data['gameData'])['players'];
    console.log(admin);
    if (data['status'] == "user_new") {
      while (app.firstChild){
          app.firstChild.remove();
      }

      console.log(array_players)
      for (const player of array_players) {
          var row = app.insertRow(0);
          var cell1 = row.insertCell(0);
          cell1.innerHTML = player;
      }

    } else if (data['status'] == "user_left_room") {
      while (app.firstChild) {
        app.firstChild.remove()
      }
      for (const player of array_players) {
          var row = app.insertRow(0);
          var cell1 = row.insertCell(0);
          cell1.innerHTML = player;
      }

    }

    document.getElementById('button-start').addEventListener("click", function () {
      if ("{{user.username}}" == admin) {
        if (array_players.length >= 2) {
          start_game();
        }
      } else {
        alert("You need be admin to start the game");
      }
    });

  }
  socket.addEventListener("message", function (e) {
    let backendResponse = JSON.parse(e.data);
    let status = backendResponse.status;
    let message = backendResponse.message;
    let data = backendResponse.data;
    let gameData;
    if (backendResponse.gameData) {
      gameData = JSON.parse(backendResponse.gameData);
    }
      
    if (status === "connected") {
      console.log("Connected from Scene 2.");
    }
    if (status === "start_game") {
        console.log(gameData);
        console.log("Start_Game");  
        const game = new Game(gameData['uniqueId'], gameData['players'], gameData['topCard'], gameData['topColor'],gameData['direction'])
        game.start_init();
    }
  });


  function start_game() {
    Promise.all([open_socket]).then(result => {
      console.log("open");
      let data = {
        "status": "start_game",
        "message": "Game is being started.",
        "data": ""
      };
      let response = {"type": "start.game", "text": data};
      socket.send(JSON.stringify(response));

    });
  
  }

  class Card {
      constructor(color, number, wild){
          this.color = color;
          this.number = number;
          this.wild = wild;
      }
      img_src(){
              //  TODO:
              //  Make math function to get the exactly image ;)
              return "url(/static/images/uno-cards.jpg)";
          
          }
      }

  class Game {
      constructor(id, players, topCard, topColor, direction) {
          this.id = id;
          this.players = players;
          this.topCard = topCard;
          this,topColor = topColor;
          this.direction = direction;
      }

      start_init(){
          this.id_card = document.getElementById("card-container");
          //this.id_card.innerHtml = this.topCard;
          let category = this.topCard['category'];
          let number = this.topCard['number'];
          let card = new Card(category, number, "wild");
          let card_source = card.img_src();
          //Init image 
          document.getElementById("card-container").style.backgroundImage= card_source;
          document.getElementById("button-start").style.display = 'none';
      }
  }
</script>

{% endblock %}
